.progress {
  margin: 10px auto;
  width: 300px;
}

.nav {
  margin: 30px 0 20px 0;
}

.footer {
  clear: both;
  margin-bottom: 50px;
  text-align: center;

  span {
    vertical-align: middle;
  }
}

.adslots-pagination {
  margin-top: 0;
}

.page-adslot-edit form {
  width: 500px;
  margin-top: 40px;
}

.search-box {
  margin-bottom: 12px;
}

.filter {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 2px;
}

.col-name {
  width: 230px;
}

thead, .page-header {
  color: #006DCC;
}

th {
  background-image: url('/media/pattern.jpg');
}
